<div class="authors">
    <h1 class="authors__title">Авторы</h1>

    <ul class="authors__list">
        <% authors.forEach(author => { %>
            <li class="authors__item">
                <a href="/authors/<%= author._id %>" class="authors__link">
                    <span class="authors__name"><%= author.name %></span>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </li>
        <% }); %>
    </ul>
</div>
