<!-- Шапка сайта -->
<header class="header">
  <div class="header__logo">
    <span class="header__logo-text">Verse & Song</span>
  </div>

  <!-- Навигационная панель -->
  <div class="header__nav-wrapper">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="/" class="header__nav-link">Главная</a></li>
        <li class="header__nav-item"><a href="/authors" class="header__nav-link">Авторы</a></li>
        <li class="header__nav-item"><a href="/genres" class="header__nav-link">Жанры</a></li>
        <li class="header__nav-item"><a href="/about" class="header__nav-link">Об авторе</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Контакты</a></li>
      </ul>
    </nav>

    <div class="header__login">
      <a class="header__login-link" href="">Войти</a>
    </div>
  </div>
</header>